.menu-layout{
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.bi-box-arrow-right{
  cursor: pointer;
}