.messages-chat-layout {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    height: 85vh;
    background-color: lightyellow;
    padding-bottom: 2rem;
    overflow: scroll;


}

.no-cat {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: rgb(192, 192, 192);
}